.navbar {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 1000;
  }
  
  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    z-index: 1002;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
  }

  .hamburger .open {
    color: var(--text);
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  
  .navbar.active .backdrop {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    background: var(--background);
    padding: 6rem 2rem;
    transition: 0.3s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .nav-menu.active {
    left: 0;
    border-right: 1px solid var(--shadow);
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu li {
    margin: 2rem 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-menu li:hover {
    color: var(--foreground);
  }